.App {
  text-align: center;
}

.App-logo {
  width: 306px;
  margin-top: 175px;
}

.App-logo-quote {
  width: 400px;
  margin-top: 20px;
}

.login {
  width: 170px;
  height: 31px;
  background-color: #f85b04;
  color: black;
  border-radius: 36px;
  border: 2px solid black;
  margin-top: 25px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
